.cardlist--outer{
  border: 1px solid $black;
  margin-bottom: 30px;
  max-height: 377px;
  overflow: scroll;
  background-color: rgba($grey, 0.3);
  .cardlist--inner{
    padding: 1rem 2rem;
  }
  textarea{
    padding: 14px 10px;
    width: 60%;
    display: block;
  }
  h3{
    display: inline-block;
    margin-top: 0px;
  }
  .add-card-btn{
    float: right;
  }
}
.cardlist--list{
  display: block;
  min-height: 200px;
}

.card-outer{
  background-color: RGBA(249, 249, 249, 1.00);
  padding: 10px;
  width: 90%;
  box-shadow: 0 3px 19px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 3px;
}
