<!DOCTYPE html>
<html>
  <head>
    <title>SwotApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'swotboard' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
